[Unit]
Description=XeomaCore Service
After=network.target syslog.target mnt-xeoma.mount
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
Type=simple
ExecStart=/usr/bin/xeoma -core -startdelay 5 -disableDownloads -noscan -noscanptzandaudio -uselocaltime -serverport 8897 -programdir /mnt/xeoma/data -archivecache /mnt/xeoma/cache
ExecStartPre=+/bin/sh -c "[ -d /mnt/xeoma/data ] && [ -r /mnt/xeoma/data ] && [ -w /mnt/xeoma/data ] && [ -x /mnt/xeoma/data ]"
ExecStartPre=+/bin/sh -c "[ -d /mnt/xeoma/cache ] && [ -r /mnt/xeoma/cache ] && [ -w /mnt/xeoma/cache ] && [ -x /mnt/xeoma/cache ]"
RestartSec=5
Restart=on-failure
User=xeoma
Group=xeoma

[Install]
WantedBy=default.target
