[Unit]
Description=XeomaCore
After=network.target syslog.target
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
Type=simple
ExecStart=/usr/bin/xeoma -core -startdelay 5 -disableDownloads -noscan -noscanptzandaudio -programdir /home/xeoma/.config/Xeoma
ExecStartPost=/bin/sleep 3
RestartSec=5
Restart=on-failure
User=xeoma
Group=xeoma

[Install]
WantedBy=default.target
